/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.dataTables_wrapper {
    font-size: 14px !important;
}

.invalid-feedback {
    font-size: 13px;
}

.required:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: #f1416c;
    padding-left: 0.25rem;
    font-weight: 600;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 35px;
}
  
  /* Mengubah warna latar belakang pada elemen selectpicker */
  .bootstrap-select > .btn {
    height: 40px;
    box-shadow: none !important;
    background-color: #ffffff;
    font-size: 13px;
    color: #656c74 !important;
  }

/* Menghilangkan warna latar belakang pada elemen selectpicker ketika diklik */
.bootstrap-select > .btn:focus {
    background-color: #fefeff !important;
    border-color: #95a0f4 !important;
    outline-width: 0.3cm;
  }